beautifulsoup4==4.6.3
chart-studio==1.0.0
cytoolz==0.9.0.1
dask==0.19.1
docutils==0.14
en-core-web-sm==2.0.0
html5lib==1.0.1
ipykernel==4.9.0
ipython==6.5.0
ipywidgets==7.4.2
joblib==0.14.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-core==4.4.0
jupyter-nbextensions-configurator==0.4.1
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
jupyterlab-server==0.3.2
matplotlib==2.2.3
nbconvert==5.4.0
nbformat==4.4.0
nbinteract==0.2.4
nltk==3.3
notebook==5.6.0
numpy==1.15.1
numpydoc==0.8.0
pandas==0.23.4
pandocfilters==1.4.2
partd==0.3.8
path.py==11.1.0
pathlib2==2.3.2
pep8==1.7.1
Pillow==6.2.1
plotly==4.4.1
pypandoc==1.4
queuelib==1.5.0
regex==2019.12.9
requests==2.22.0
rise==5.6.0
scikit-image==0.14.0
scikit-learn==0.21.3
scipy==1.1.0
Scrapy==1.7.3
scrapy-splash==0.7.2
seaborn==0.9.0spacy==2.0.16
SQLAlchemy==1.2.11
statsmodels==0.9.0
streamlit==0.51.0
traittypes==0.2.1
Twisted==18.7.0
unicodecsv==0.14.1
urllib3==1.23
w3lib==1.20.0
wordcloud==1.5.0
